apscheduler
argon2-cffi
Babel
boto3
cryptography
django
django-cors-headers
django-csp[jinja2]
django-rest-framework
flex
google-cloud-vision
googlemaps
inflection
minify-html
munch
openapi-codec
opencv-contrib-python
opencv-python
openpyxl
pandas
pdf2image
pdfkit
pikepdf
pillow
psycopg2-binary
pycryptodomex
python-decouple
python-jose
python-memcached
qrcode
requests
ruamel.yaml
simpleeval
swagger-spec-validator3
termcolor
ua_parser
weasyprint
holidays
pymupdf
bs4
pytesseract
imutils
fuzzywuzzy
jellyfish
gender-guesser