{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Intellica Technologies</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon" />
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet" />
    <link
      href="{% static 'vendor/glightbox/css/glightbox.min.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet" />

    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- <link href="css/main.css" rel="stylesheet" /> -->
  </head>

  <body class="index-page">
    <header id="header" class="header d-flex align-items-center fixed-top">
      <div
        class="container-fluid position-relative d-flex align-items-center justify-content-between"
      >
        <a
          href="index.html"
          class="logo d-flex align-items-center me-auto me-xl-0"
        >
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <img src="{% static 'img/logo.png' %}" alt="" class="rounded" />
          <h1 class="sitename">Intellica Technologies</h1>
          <span>.</span>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="#hero" class="active">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <!-- <a class="btn-getstarted" href="index.html#about">Get Started</a> -->
      </div>
    </header>

    <main class="main">
      <!-- Hero Section -->
      <section id="hero" class="hero section dark-background">
        <img src="{% static 'img/hero-bg_main.jpg' %}" alt="" data-aos="fade-in" />

        <div class="container">
          <div class="row">
            <div class="col-lg-10">
              <h2 data-aos="fade-up" data-aos-delay="100">
                Verify Your Identity with Secure KYC Verification
              </h2>
              <p class="text-md-start" data-aos="fade-up" data-aos-delay="200">
                We are providing the platform of KYC process for verifying the identity of users on our platform. It involves collecting and validating personal information, such as identification documents, to ensure compliance with legal and regulatory standards, prevent fraud, and maintain the security of our services.
              </p>
            </div>
            <!-- <div class="col-lg-5" data-aos="fade-up" data-aos-delay="300">
              <form
                action="forms/newsletter.php"
                method="post"
                class="php-email-form"
              >
                <div class="sign-up-form">
                  <input type="email" name="email" /><input
                    type="submit"
                    value="Subscribe"
                  />
                </div>
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">
                  Your subscription request has been sent. Thank you!
                </div>
              </form>
            </div> -->
          </div>
        </div>
      </section>
      <!-- /Hero Section -->

      <!-- Clients Section -->

      <!-- <section id="clients" class="clients section">
        <div class="container" data-aos="fade-up">
          <div class="row gy-4">
            <div class="col-xl-2 col-md-3 col-6 client-logo">
              <img
                src="assets/img/clients/client-1.png"
                class="img-fluid"
                alt=""
              />
            </div>
            <!-- End Client Item -->

      <!-- <div class="col-xl-2 col-md-3 col-6 client-logo">
              <img
                src="assets/img/clients/client-2.png"
                class="img-fluid"
                alt=""
              />
            </div> -->
      <!-- End Client Item -->

      <!-- <div class="col-xl-2 col-md-3 col-6 client-logo">
              <img
                src="assets/img/clients/client-3.png"
                class="img-fluid"
                alt=""
              />
            </div> -->
      <!-- End Client Item -->

      <!-- <div class="col-xl-2 col-md-3 col-6 client-logo">
              <img
                src="assets/img/clients/client-4.png"
                class="img-fluid"
                alt=""
              />
            </div> -->
      <!-- End Client Item -->

      <!-- <div class="col-xl-2 col-md-3 col-6 client-logo">
              <img
                src="assets/img/clients/client-5.png"
                class="img-fluid"
                alt=""
              />
            </div> -->
      <!-- End Client Item -->

      <!-- <div class="col-xl-2 col-md-3 col-6 client-logo">
              <img
                src="assets/img/clients/client-6.png"
                class="img-fluid"
                alt=""
              />
            </div> -->
      <!-- End Client Item -->
      <!-- </div>
        </div>
      </section> -->
      <!-- /Clients Section -->

      <!-- About Section -->
      <section id="about" class="about section light-background">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
          <div class="row align-items-xl-center gy-5">
            <div class="col-xl-5 content">
              <h3>About Us</h3>
              <h2>Empowering Innovation, Driving Success</h2>
              <p class="text-md-start fs-5">
                At Intellica Technologies, we're passionate about pushing
                digital innovation to new heights. Our mission is to transform
                your ideas into impactful, custom solutions that drive growth
                and success. We combine creativity and technical expertise to
                craft websites and applications tailored to your unique business
                needs. Our suite of KYC services includes identity verification, document authentication, risk assessment, and ongoing monitoring. We leverage advanced technologies such as AI and machine learning to deliver accurate, efficient, and scalable solutions tailored to your specific needs.
                We believe in the power of innovation and trust. Our commitment to data privacy and security is unwavering, ensuring that your customers’ information is handled with the utmost care. We are proud to partner with organizations globally, helping them to mitigate risk, reduce fraud, and build lasting customer relationships.
              </p>
              <!-- <a href="#" class="read-more"
                ><span>Read More</span><i class="bi bi-arrow-right"></i
              ></a> -->
            </div>

            <div class="col-xl-7">
              <div class="row gy-4 icon-boxes">
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                  <div class="icon-box">
                    <i class="bi bi-buildings"></i>
                    <h3>Innovative Solutions</h3>
                    <p>
                      we are dedicated to transforming the way businesses manage and verify customer identities. In an increasingly digital world, our mission is to provide seamless, secure, and compliant KYC solutions that protect both companies and their customers.
                    </p>
                  </div>
                </div>
                <!-- End Icon Box -->

                <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                  <div class="icon-box">
                    <i class="bi bi-clipboard-pulse"></i>
                    <h3>Strategic Approach</h3>
                    <p>
                      Utilize AI and ML to enhance the accuracy and efficiency of identity verification processes. These technologies can help in analyzing large datasets to detect fraud patterns, automate document verification, and improve decision-making.
                    </p>
                  </div>
                </div>
                <!-- End Icon Box -->

                <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                  <div class="icon-box">
                    <i class="bi bi-command"></i>
                    <h3>Technology Leadership</h3>
                    <p>
                      We leverage the latest technologies to build robust,
                      scalable, and efficient digital products.
                    </p>
                  </div>
                </div>
                <!-- End Icon Box -->

                <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
                  <div class="icon-box">
                    <i class="bi bi-graph-up-arrow"></i>
                    <h3>Growth Focused</h3>
                    <p>
                      We are dedicated to driving growth for our clients by
                      creating digital experiences that resonate with their
                      audience.
                    </p>
                  </div>
                </div>
                <!-- End Icon Box -->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /About Section -->

      <!-- Stats Section -->
      <!-- /Stats Section -->

      <!-- Services Section -->
      <section id="services" class="services section">
        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Services</h2>
          <p>
            At Intellica Technologies, we offer a wide range of services
            designed to meet the diverse needs of your business. From innovative
            solutions to strategic planning, our team is dedicated to delivering
            excellence in every project.
          </p>
        </div>
        <!-- End Section Title -->

        <div class="container">
          <div class="row gy-4">
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <div class="service-item d-flex">
                <div class="icon flex-shrink-0">
                  <i class="bi bi-briefcase"></i>
                </div>
                <div>
                  <h4 class="title">
                    <a  class="stretched-link"
                      >KYC Verification</a 
                    >
                  </h4>
                  <p class="description">
                    Our KYC verification(PAN, Aadhaar, RC, DL, Voter, Ebill, CIN, DIN, UAN, Etc) service helps businesses validate the identities of their customers quickly and securely. We leverage a combination of document verification, biometric checks, and real-time data analysis to ensure that customers are who they claim to be.
                  </p>
                </div>
              </div>
            </div>
            <!-- End Service Item -->

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
              <div class="service-item d-flex">
                <div class="icon flex-shrink-0">
                  <i class="bi bi-card-checklist"></i>
                </div>
                <div>
                  <h4 class="title">
                    <a  class="stretched-link"
                      >Custom Web Development</a
                    >
                  </h4>
                  <p class="description">
                    Transform your ideas into functional, user-friendly websites
                    that drive engagement and conversions. We specialize in
                    building custom web solutions tailored to your specific
                    requirements.
                  </p>
                </div>
              </div>
            </div>
            <!-- End Service Item -->

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
              <div class="service-item d-flex">
                <div class="icon flex-shrink-0">
                  <i class="bi bi-bar-chart"></i>
                </div>
                <div>
                  <h4 class="title">
                    <a class="stretched-link"
                      >Intelligent Document Recognition (IDR)</a
                    >
                  </h4>
                  <p class="description">
                    Intelligent Document Recognition represents a significant advancement in document processing, combining AI, machine learning, and OCR to handle a wide range of document types and use cases with greater efficiency and accuracy.
                  </p>
                </div>
              </div>
            </div>
            <!-- End Service Item -->

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
              <div class="service-item d-flex">
                <div class="icon flex-shrink-0">
                  <i class="bi bi-binoculars"></i>
                </div>
                <div>
                  <h4 class="title">
                    <a class="stretched-link"
                      >UI/UX Design</a
                    >
                  </h4>
                  <p class="description">
                    Craft visually stunning and user-centered designs with our
                    UI/UX services. We focus on creating engaging, intuitive
                    interfaces that enhance the user experience.
                  </p>
                </div>
              </div>
            </div>
            <!-- End Service Item -->

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="500">
              <div class="service-item d-flex">
                <div class="icon flex-shrink-0">
                  <i class="bi bi-brightness-high"></i>
                </div>
                <div>
                  <h4 class="title">
                    <a  class="stretched-link"
                      >Batch Verification</a
                    >
                  </h4>
                  <p class="description">
                    Batch verification is a powerful method for managing and verifying large quantities of data or documents efficiently. By leveraging automated tools and processes for many services (PAN, DL, RC, UAN, Etc).
                  </p>
                </div>
              </div>
            </div>
            <!-- End Service Item -->

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="600">
              <div class="service-item d-flex">
                <div class="icon flex-shrink-0">
                  <i class="bi bi-calendar4-week"></i>
                </div>
                <div>
                  <h4 class="title">
                    <a  class="stretched-link"
                      >Cloud Integration & Solutions</a
                    >
                  </h4>
                  <p class="description">
                    Leverage the power of the cloud with our integration
                    services. We help you seamlessly transition to cloud-based
                    platforms, improving efficiency, scalability, and security.
                  </p>
                </div>
              </div>
            </div>
            <!-- End Service Item -->
          </div>
        </div>
      </section>
      <!-- /Services Section -->

      <!-- /Features Section -->

      <!-- Portfolio Section -->
      

      <!-- Pricing Section -->
      <!-- <section id="pricing" class="pricing section"> -->
      <!-- Section Title -->
      <!-- <div class="container section-title" data-aos="fade-up">
          <h2>Pricing</h2>
          <p>
            Necessitatibus eius consequatur ex aliquid fuga eum quidem sint
            consectetur velit
          </p>
        </div> -->
      <!-- End Section Title -->

      <!-- <div class="container" data-aos="zoom-in" data-aos-delay="100">
          <div class="row g-4">
            <div class="col-lg-4">
              <div class="pricing-item">
                <h3>Free Plan</h3>
                <div class="icon">
                  <i class="bi bi-box"></i>
                </div>
                <h4><sup>$</sup>0<span> / month</span></h4>
                <ul>
                  <li>
                    <i class="bi bi-check"></i>
                    <span>Quam adipiscing vitae proin</span>
                  </li>
                  <li>
                    <i class="bi bi-check"></i>
                    <span>Nec feugiat nisl pretium</span>
                  </li>
                  <li>
                    <i class="bi bi-check"></i>
                    <span>Nulla at volutpat diam uteera</span>
                  </li>
                  <li class="na">
                    <i class="bi bi-x"></i>
                    <span>Pharetra massa massa ultricies</span>
                  </li>
                  <li class="na">
                    <i class="bi bi-x"></i>
                    <span>Massa ultricies mi quis hendrerit</span>
                  </li>
                </ul>
                <div class="text-center">
                  <a href="#" class="buy-btn">Buy Now</a>
                </div>
              </div>
            </div> -->
      <!-- End Pricing Item -->

      <!-- <div class="col-lg-4">
              <div class="pricing-item featured">
                <h3>Business Plan</h3>
                <div class="icon">
                  <i class="bi bi-rocket"></i>
                </div>

                <h4><sup>$</sup>29<span> / month</span></h4>
                <ul>
                  <li>
                    <i class="bi bi-check"></i>
                    <span>Quam adipiscing vitae proin</span>
                  </li>
                  <li>
                    <i class="bi bi-check"></i>
                    <span>Nec feugiat nisl pretium</span>
                  </li>
                  <li>
                    <i class="bi bi-check"></i>
                    <span>Nulla at volutpat diam uteera</span>
                  </li>
                  <li>
                    <i class="bi bi-check"></i>
                    <span>Pharetra massa massa ultricies</span>
                  </li>
                  <li>
                    <i class="bi bi-check"></i>
                    <span>Massa ultricies mi quis hendrerit</span>
                  </li>
                </ul>
                <div class="text-center">
                  <a href="#" class="buy-btn">Buy Now</a>
                </div>
              </div>
            </div> -->
      <!-- End Pricing Item -->

      <!-- <div class="col-lg-4">
              <div class="pricing-item">
                <h3>Developer Plan</h3>
                <div class="icon">
                  <i class="bi bi-send"></i>
                </div>
                <h4><sup>$</sup>49<span> / month</span></h4>
                <ul>
                  <li>
                    <i class="bi bi-check"></i>
                    <span>Quam adipiscing vitae proin</span>
                  </li>
                  <li>
                    <i class="bi bi-check"></i>
                    <span>Nec feugiat nisl pretium</span>
                  </li>
                  <li>
                    <i class="bi bi-check"></i>
                    <span>Nulla at volutpat diam uteera</span>
                  </li>
                  <li>
                    <i class="bi bi-check"></i>
                    <span>Pharetra massa massa ultricies</span>
                  </li>
                  <li>
                    <i class="bi bi-check"></i>
                    <span>Massa ultricies mi quis hendrerit</span>
                  </li>
                </ul>
                <div class="text-center">
                  <a href="#" class="buy-btn">Buy Now</a>
                </div>
              </div>
            </div> -->
      <!-- End Pricing Item -->
      <!-- </div>
        </div>
      </section> -->
      <!-- /Pricing Section -->

      <!-- Faq Section -->
      <section id="faq" class="faq section">
        <div class="container">
          <div class="row gy-4">
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
              <div class="content px-xl-5">
                <h3>
                  <span>Frequently Asked </span><strong>Questions</strong>
                </h3>
                <p>
                  We understand that you might have questions about our services
                  and processes. Below are some common queries we receive, along
                  with our detailed answers. If you have any additional
                  questions, please don't hesitate to contact us!
                </p>
              </div>
            </div>

            <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
              <div class="faq-container">
                <div class="faq-item faq-active">
                  <h3>
                    <span class="num">1.</span>
                    <span>What makes your services unique?</span>
                  </h3>
                  <div class="faq-content">
                    <p>
                      Provide tailored KYC solutions that can be adapted to meet the specific needs of different industries and regulatory environments.Utilize advanced encryption technologies to protect sensitive customer information during transmission.
                    </p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-right"></i>
                </div>
                <!-- End Faq item-->

                <div class="faq-item">
                  <h3>
                    <span class="num">2.</span>
                    <span
                      >Can you provide ongoing support after the project is
                      completed?</span
                    >
                  </h3>
                  <div class="faq-content">
                    <p>
                      Yes, we offer comprehensive post-project support,
                      including maintenance and updates. Our aim is to ensure
                      your project remains functional and up-to-date, and we’re
                      here to assist with any issues or additional needs that
                      may arise.
                    </p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-right"></i>
                </div>
                <!-- End Faq item-->

                <div class="faq-item">
                  <h3>
                    <span class="num">3.</span>
                    <span>How do you determine your pricing? </span>
                  </h3>
                  <div class="faq-content">
                    <p>
                      Pricing can vary depending on the services of the verification process and the volume of transactions or documents processed.
                    </p>
                  </div>
                  <i class="faq-toggle bi bi-chevron-right"></i>
                </div>
                <!-- End Faq item-->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /Faq Section -->

      
      <!-- Testimonials Section -->
      <!-- <section id="testimonials" class="testimonials section light-background">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-5 info" data-aos="fade-up" data-aos-delay="100">
              <h3>Take the Next Step with Us</h3>
              <p>
                Ready to elevate your business? Don’t miss the opportunity to
                partner with us and transform your ideas into reality. Our
                expert team is here to help you achieve your goals with tailored
                solutions and exceptional service.
              </p>
            </div>

            <div class="col-lg-7" data-aos="fade-up" data-aos-delay="200">
              <div class="swiper init-swiper">
                <script type="application/json" class="swiper-config">
                  {
                    "loop": true,
                    "speed": 600,
                    "autoplay": {
                      "delay": 5000
                    },
                    "slidesPerView": "auto",
                    "pagination": {
                      "el": ".swiper-pagination",
                      "type": "bullets",
                      "clickable": true
                    }
                  }
                </script>
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="testimonial-item">
                      <div class="d-flex">
                        <img
                          src="assets/img/testimonials/testimonials-1.jpg"
                          class="testimonial-img flex-shrink-0"
                          alt=""
                        />
                        <div>
                          <h3>Saul Goodman</h3>
                          <h4>Ceo &amp; Founder</h4>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i
                            ><i class="bi bi-star-fill"></i
                            ><i class="bi bi-star-fill"></i
                            ><i class="bi bi-star-fill"></i
                            ><i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                      </div>
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        <span
                          >Proin iaculis purus consequat sem cure digni ssim
                          donec porttitora entum suscipit rhoncus. Accusantium
                          quam, ultricies eget id, aliquam eget nibh et. Maecen
                          aliquam, risus at semper.</span
                        >
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                    </div>
                  </div> -->
      <!-- End testimonial item -->

      <!-- <div class="swiper-slide">
                    <div class="testimonial-item">
                      <div class="d-flex">
                        <img
                          src="assets/img/testimonials/testimonials-2.jpg"
                          class="testimonial-img flex-shrink-0"
                          alt=""
                        />
                        <div>
                          <h3>Sara Wilsson</h3>
                          <h4>Designer</h4>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i
                            ><i class="bi bi-star-fill"></i
                            ><i class="bi bi-star-fill"></i
                            ><i class="bi bi-star-fill"></i
                            ><i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                      </div>
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        <span
                          >Export tempor illum tamen malis malis eram quae irure
                          esse labore quem cillum quid cillum eram malis quorum
                          velit fore eram velit sunt aliqua noster fugiat irure
                          amet legam anim culpa.</span
                        >
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                    </div>
                  </div>
                  End testimonial item -->

      <!-- <div class="swiper-slide">
                    <div class="testimonial-item">
                      <div class="d-flex">
                        <img
                          src="assets/img/testimonials/testimonials-3.jpg"
                          class="testimonial-img flex-shrink-0"
                          alt=""
                        />
                        <div>
                          <h3>Jena Karlis</h3>
                          <h4>Store Owner</h4>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i
                            ><i class="bi bi-star-fill"></i
                            ><i class="bi bi-star-fill"></i
                            ><i class="bi bi-star-fill"></i
                            ><i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                      </div>
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        <span
                          >Enim nisi quem export duis labore cillum quae magna
                          enim sint quorum nulla quem veniam duis minim tempor
                          labore quem eram duis noster aute amet eram fore quis
                          sint minim.</span
                        >
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                    </div>
                  </div> -->
      <!-- End testimonial item -->

      <!-- <div class="swiper-slide">
                    <div class="testimonial-item">
                      <div class="d-flex">
                        <img
                          src="assets/img/testimonials/testimonials-4.jpg"
                          class="testimonial-img flex-shrink-0"
                          alt=""
                        />
                        <div>
                          <h3>Matt Brandon</h3>
                          <h4>Freelancer</h4>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i
                            ><i class="bi bi-star-fill"></i
                            ><i class="bi bi-star-fill"></i
                            ><i class="bi bi-star-fill"></i
                            ><i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                      </div>
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        <span
                          >Fugiat enim eram quae cillum dolore dolor amet nulla
                          culpa multos export minim fugiat minim velit minim
                          dolor enim duis veniam ipsum anim magna sunt elit fore
                          quem dolore labore illum veniam.</span
                        >
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                    </div>
                  </div> -->
      <!-- End testimonial item -->

      <!-- <div class="swiper-slide">
                    <div class="testimonial-item">
                      <div class="d-flex">
                        <img
                          src="assets/img/testimonials/testimonials-5.jpg"
                          class="testimonial-img flex-shrink-0"
                          alt=""
                        />
                        <div>
                          <h3>John Larson</h3>
                          <h4>Entrepreneur</h4>
                          <div class="stars">
                            <i class="bi bi-star-fill"></i
                            ><i class="bi bi-star-fill"></i
                            ><i class="bi bi-star-fill"></i
                            ><i class="bi bi-star-fill"></i
                            ><i class="bi bi-star-fill"></i>
                          </div>
                        </div>
                      </div>
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        <span
                          >Quis quorum aliqua sint quem legam fore sunt eram
                          irure aliqua veniam tempor noster veniam enim culpa
                          labore duis sunt culpa nulla illum cillum fugiat legam
                          esse veniam culpa fore nisi cillum quid.</span
                        >
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                    </div>
                  </div> -->
      <!-- End testimonial item -->
      <!-- </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
        </div>
      </section> -->
      <!-- /Testimonials Section -->

      <!-- Recent Posts Section -->
      <!-- /Recent Posts Section -->

      <!-- Contact Section -->
      <section id="stats" class="stats section dark-background">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <img src="{% static 'img/stats-bg.jpg' %}" alt="" data-aos="fade-in" />
        <!-- <img src="img/stats-bg.jpg" alt="" data-aos="fade-in" /> -->

        <div
          class="container position-relative"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div class="row gy-4">
            <div class="col-lg-3 col-md-6">
              <div class="stats-item text-center w-100 h-100">
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="20"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p>Clients</p>
              </div>
            </div>
            <!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
              <div class="stats-item text-center w-100 h-100">
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="30"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p>Projects</p>
              </div>
            </div>
            <!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
              <div class="stats-item text-center w-100 h-100">
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="500"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p>Hours Of Support</p>
              </div>
            </div>
            <!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
              <div class="stats-item text-center w-100 h-100">
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="32"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p>Workers</p>
              </div>
            </div>
            <!-- End Stats Item -->
          </div>
        </div>
      </section>
      
      <!-- /Contact Section -->
    </main>

    <footer id="footer" class="footer position-relative light-background">
      <section id="contact" class="about section light-background">
      <div class="container footer-top">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-about">
            <a href="index.html" class="logo d-flex align-items-center">
              <span class="sitename">Intellica Technologies</span>
            </a>
            <p>
              At Intellica Technologies, we transform ideas into cutting-edge
              digital solutions. Combining creativity and technology, we craft
              exceptional websites and apps tailored to your business’s unique
              needs. Partner with us to explore a future where possibilities are
              limitless.
            </p>
            <div class="social-links d-flex mt-4">
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><a href="#">KYC</a></li>
              <li><a href="#">IDR</a></li>
              <li><a href="#">Batch Verification</a></li>
              <li><a href="#">Web Development</a></li>
              <li><a href="#">Product Management</a></li>
            </ul>
          </div>

          <div
            class="col-lg-3 col-md-12 footer-contact text-center text-md-start"
          >
            <h4>Contact Us</h4>
            <p>6MF-5/168, B.H.COLONY, BAHADURPUR,
              B.H.COLONY,PATNA, SAMPATCHAK, BIHAR, INDIA, 800026</p>
            <p class="mt-4">
              <strong>Phone:</strong> <span>7261058757</span>
            </p>
            <p><strong>Email:</strong> <span>support@intellicatechnology.com</span></p>
          </div>
        </div>
      </div>

      <div class="container copyright text-center mt-4">
        <p>
          © <span>Copyright</span>
          <strong class="sitename">Intellica Technologies</strong>
          <span>All Rights Reserved</span>
        </p>
      </div>
    </section>
    </footer>

    <!-- Scroll Top -->
    <a
      href="#"
      id="scroll-top"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'vendor/aos/aos.js' %}"></script>
    <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>

    <!-- Main JS File -->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
